define host {
  use             windows-server
  host_name       srv-ad
  address         192.168.1.2
#  hostgroups      windows-servers
}

define service {
  use                     generic-service
  host_name               srv-ad
  service_description     Ping
  
# Warning threshold round-trip time is greater than 100ms or packet loss is greater than 20%.
# Critical threshold round-trip time is greater than 500ms or packet loss is greater than 60%.
  check_command           check_ping!100.0,20%!500.0,60% 
}
define service {
  use                     generic-service
  host_name               srv-ad
  service_description     CPU Usage
  
# Check the CPU utilization on the Windows server
  check_command           check_nt!CPULOAD!-l 5,80,90
}
define service {
  use                     generic-service
  host_name               srv-ad
  service_description     Memory Usage
  
# Check memory usage on the server
  check_command           check_nt!MEMUSE!-w 80 -c 9
}
define service {
  use                     generic-service
  host_name               srv-ad
  service_description     Disk Usage
  
# Check drive size, specifically for drive C
  check_command           check_nt!USEDDISKSPACE!-l C -w 80 -c 90
}
define service {
  use                     generic-service
  host_name               srv-ad
  service_description     DNS Service
  
# Monitors the status of the "DNS Server" Windows service
  check_command           check_nt!SERVICESTATE!-d SHOWALL -l DNS
}
define service {
  use                     generic-service
  host_name               srv-ad
  service_description     DHCP Service
  
# Monitors the status of the "DHCP Server" Windows service
  check_command           check_nt!SERVICESTATE!-d SHOWALL -l DHCPServer
}
define service {
  use                     generic-service
  host_name               srv-ad
  service_description     AD DS
  
# Monitors the status of the "Active Directory Domain Services" Windows service.
  check_command           check_nt!SERVICESTATE!-d SHOWALL -l NTDS
}

